<div class="comment-box">
    <div>
        <span class="name"> <%= comment.name %> </span>
        -
        <span class="date"> <%= comment.date %> </span>
        <span class="actions">
            <button class="reply" onclick="function showForm(commentId){ document.getElementById(commentId).style.display='block'; }; showForm('<%= comment.id %>');">Reply</button>
        </span>

        <%= erb :comment_form, locals: { database_id: database_id, parent_id: comment.id, parent_type: 'comment' } %>
    </div>
    <p class="body"> <%= comment.body %> </p>
</div>