<div class="comment-box">
    <div>
        <span class="name"> <%= comment.name %> </span>
        -
        <span class="date"> <%= comment.date %> </span>
    </div>
    <p class="body"> <%= comment.body %> </p>
    <button class="reply" data-form-id="<%= comment.id %>"> Reply </button>

    <%= erb :comment_form, locals: { database_id: database_id, parent_id: comment.id, parent_type: 'comment' } %>

    <div class="replies">
        <% comment.children.each do |child_comment| %>
            <%= erb :comment, locals: { comment: child_comment, database_id: database_id } %>
        <% end %>
    </div>
</div>